{% extends parent_template|default:'user_base.html' %}
{% load crispy_forms_tags %}
{% block tiltle %}
login - {{block.super}}
{% endblock %}

{% block main %}
<form action="" method="post">
{% csrf_token %}
{{form|crispy}}
<button type="submit" class="btn btn-primary" >login</button>
</form>

8 <div class="row">
9 <div class="offset-by-two five columns">
10 {% include "user/login_form.html" %}
11 </div>
12 <div class="three columns">
13 <ul class="task-list">
14 <li><a href="{% url 'user:user_pw_reset' %}">
15 Forgotten password?</a></li>
16 </ul>
17 </div>
12 </div>
{% endblock %}