{% extends parent_template|default:'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{block.super}}--password reset
{% endblock %}

{% block main %}
<div class="row">
<div class="offset-by-2 eight columns">
<div class="center">
<h3>Are you sure you want to reset ypour password {{user}}</h3>
</div>
<form method="post" action="">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-danger">send me reset instructions</button>
</form>
</div>
</div>
{% endblock %}